.display {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.sunAir {
  width: 70%;
}

.sunAirW {
  display: flex;
  justify-content: space-around;
}

.sunAir .timezoneAir {
  width: 40%;
}
