.display {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.sunAir {
  width: 70%;
}

.sunAirW {
  display: flex;
  justify-content: space-around;
}

.sunAir .timezoneAir {
  width: 40%;
}

@media (max-width: 1199px) {
  .display {
    justify-content: center;
  }
}
