nav {
  background-color: #f4d49b;
  width: 330px;
  height: auto;
  padding: 10px 30px;
  border-radius: 20px;
  margin-bottom: 60px;
}

nav .weatherTime .time {
  font-size: 2.7em;
  padding: 5px;
  margin: 0;
  font-weight: 600;
  color: #538ed5;
}

.weatherTime span {
  font-size: 20px;
  color: #004d40;
}

.weatherTime .date {
  font-size: 1em;
  margin-left: 10px;
  color: #004d40;
}

.weatherTime span.username {
  color: #538ed5;
}

.weatherTime .name img {
  width: 30px;
  vertical-align: middle;
}

@media (max-width: 1199px) {
  nav {
    margin-top: 40px;
  }

  .weatherTime {
    overflow: hidden;
    line-height: 45px;
  }

  .weatherTime .time {
    font-size: 1.6em;
    font-weight: 600;
    color: #edcd95;
  }

  .weatherTime span {
    font-size: 20px;
  }

  nav .weatherTime span.username {
    color: #e91e63;
  }
}

@media (min-width: 1200px) {
  nav {
    width: 330px;
  }
  /* .weatherTime {
    line-height: 45px;
    padding: 30px;
  } */

  .weatherTime .date {
    font-size: 1em;
    margin-left: 10px;
    color: #004d40;
  }

  .weatherTime span {
    font-size: 20px;
    color: #004d40;
  }

  .weatherTime span.username {
    color: #538ed5;
  }
}
